

.red{
    height:200px;
    background-color: red
}


.green{
    height:750px;
    background-color: green
}

.lightb{
    background-color: lightblue;
    height: 200px;

}
.padd{
    padding: 5px
}