.someDiv{
    background-color: rgba(150, 25, 140, 0.5);
    height: 500px;
    width: 500px;
    position: absolute;
    top: 0
}

.imgbkg-gif{
    background-image: url(/images/1.gif)
}


.imgbkg-pattern{
    /* background-image: url(/images/1.jpg); */
/* background-size: cover */
/* background-repeat: no-repeat */
background: url(/images/1.jpg) no-repeat;
}


.imgbkg-image{
    background-image: url(/images/)
}